@charset "utf-8";
/* CSS Document */

/*-------------wrapper.css--------------*/

/*-----------------------------------------
This file styles the layout of following tags:

-wrapper
-grid
-category
-grid list (image-wrapper)
-opacity effect

which are very basic elements of the site
------------------------------------------*/

/* ----- Category Animation ----- */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Wrapper */

#wrapper{
	float: left;
	width: 74%;
}



/* Categories */

.category {
	padding-top: 0%;
	padding-right: 0%;
	padding-left: 0%;
	padding-bottom: 0%;
	width: 49%;
	display: inline-block;
}

.category a {
    position: relative;
    display: block;
	text-decoration: none;
}

.category a h1 {
	text-align: center;
	width: 100%;
	font-weight: 300;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 22px;
	text-transform: lowercase;
	text-decoration: none;
	font-style: normal;
	color: black;
	background-color: white;
	
	-ms-transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}


.category a:hover h1 {
	background-color: #DCDCDC;
	text-decoration: none;
}



/*------------Street/Music/Portrait/Wallpaper.html--------------*/

.grid {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid li {
	display: block;/*inline-block*/
	float: left;
	width: 32.5%;
	margin-right: 0.25%;
	margin-bottom:0.25%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	width: 100%;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}




/* ----- Back-to-top Button ----- */

a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	left: 10px;
	bottom: 10px;
	background: transparent url("../img/back-to-top.png") no-repeat center 50%;
	opacity: 0.7;
}
a:hover.back-to-top {
	opacity: 1;
}



/*------Media------*/
	@media screen and (max-width:1199px) {
	
			
			#wrapper {
				width:99%;
				margin-left: 1%;
			}
			
			#grid{
				width: 93%;
				margin-left: 30px;
			}
			
			.grid  li{
				margin-right: 0.5%;
				margin-bottom: 0.5%;
			}
			
			a.back-to-top {
				left: auto;
				right: 10px;
			}
	
	}
	
	
	
	@media screen and (max-width:767px) {
		
		
		
		
			#wrapper {
				margin-top:5%;
			}

			#grid {
				width: 99%;
				margin-left: 0;
			}
			
			.category {
				width: 100%;
			}

			.grid li {
				width: 100%;
				margin-right: 0;
				margin-bottom: 1%;
				pointer-events: none;
				cursor: default;
			}
	
	}